// output
.out/
out/
release/
releases/
build/
builds/

// editor
project.4coder
.vs
.vscode
.cache
*.swp

// compiler artifacts
*.pdb
*.exp
*.obj
*.o
*.exe
yk
*.lib
*.spv

// debugger artifacts
*.rdi
yk.dSYM/
gdb_save

// misc
temp/
art.txt
scratch.c
*.zip